@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body{
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.7em;
}

h1{
    text-align: center;
    padding:0;
    font-size: 3em;
    font-weight: 300;
}

h2{
    font-size: 1.5em;
    line-height: 93px; 
    font-weight:400; 
    margin-bottom:5px; 
    display: inline-block; 
    margin-top: -14px; 
    color: black;
}

h4{
    text-align: center;
    margin: 10px 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 300;
}

/** HEADER - TOPNAV-1 ******************************************/

#topNav-1{
    position: fixed;
    top:0px;
    left: 0px;
    height: 129px;
    width: 100%;
    z-index: 100;
    display:block;
    padding-top: 30px;
    background-image: url('/Images/Header/header-background.jpg');
}

#topNav-1-logo{
    margin-left: 2px; 
    width: 295px; 
    height: 81px;
}

#topNav-1-social{
    padding-top: 30px;
    
}

#topNav-1-social a:hover{
    background-color: transparent;
}

.topNavIcons {
    height: 50px; 
    width: 50px; 
    margin: 0px 3px;
}

/* Facebook Icon */

#fb{
    background-image: url(../images/Header/icons-fb.png);
    background-repeat: no-repeat;
}

#fb:hover{
    background-image: url(../images/Header/icon-facebook-blue.png);
}

/* Twitter Icon */
#tw{
    background-image: url(../images/Header/icons-tw.png);
    background-repeat: no-repeat;
}

#tw:hover{
    background-image: url(../images/Header/icon-twitter-blue.png);
}

/* LinkedIn Icon */
#in{
    background-image: url(../images/Header/icons-in.png);
    background-repeat: no-repeat;
}

#in:hover{
    background-image: url(../images/Header/icon-linkedin-blue.png);
}

/* GooglePlus Icon */
#gg{
    background-image: url(../images/Header/icons-gg.png);
    background-repeat: no-repeat;
}

#gg:hover{
    background-image: url(../images/Header/icon-googleplus-red.png);
}

/* Yelp Icon */
#yp{
    background-image: url(../images/Header/icons-yp.png);
    background-repeat: no-repeat;
}

#yp:hover{
    background-image: url(../images/Header/icon-yelp-red.png);
}

/* Instagram Icon */
#ig{
    background-image: url(../images/Header/icons-ig.png);
    background-repeat: no-repeat;
}

#ig:hover{
    background-image: url(../images/Header/icon-instagram-brown.png);
}

/** HEADER NAV ******************************************/

header .navbar{
    margin-top: 129px;
    padding: 0;
}

header .navbar .container-fluid{
    padding: 0;
}

/*testing how to make gray top border of li extend to the end*/
/*don't need this here otherwise*/
header .navbar .navbar-nav{
    width: 100%;
}

header .navbar .navbar-nav .nav-logo{
    display: none;
}


header .navbar .navbar-nav a{
    color: white;
    text-align: center;
    width: 118px;
    height: 45px;
}

/* Nav hover */

header .navbar .navbar-nav .nav-red:hover{
    background-color: #E42A2A;
}

header .navbar .navbar-nav .nav-green:hover{
    background-color: #5EB954;
}

header .navbar .navbar-nav .nav-blue:hover{
    background-color: #4D8FCC;
}

header .navbar .navbar-nav .nav-orange:hover{
    background-color: #E49637;
}

header .navbar .navbar-nav .nav-purple:hover{
    background-color: #964E9C;
}

header .navbar .navbar-nav .nav-gray:hover{
    background-color: #989898;
}

/** SECTIONS ******************************************/

.main{
    margin-top: 180px;
    color: white;
}

/** SECTION - BANNER ******************************************/

#banner{
    height: 630px;
    background: url(../images/Home/child-sunset.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#banner h1{
    margin-top: 170px;
}

/** SECTION - BLUEBG ******************************************/

#bluebg {
    display:inline-block;
    background-color: #73CBDF;
    text-align: center;
    position: relative; 
    padding-bottom: 75px;
}
.bluebg p {
    font-family: 'Open Sans';
    color: white;
}
.innerTopShadow {
    margin-top: -7px;
    box-shadow: -1px 4px 18px 5px rgba(72,72,72,0.8);
}

#bluebg h1{
    margin-top: 75px;
}

.iconGrowthContainer img{
    height: auto;
    width: 90px;
}

/** SECTION - NEWS ******************************************/

#h-main-2{
    padding-left: 20px;
    height: 70px; 
    box-shadow: -1px 4px 18px 5px grey; 
    position: relative; 
    margin-top: -5px;
}

#news-resources{
    background-color: #E8E8E8;
    padding-top: 50px;
    padding-bottom: 20px;
    position: static;
}

.news{
    margin-bottom: 20px;
    padding: 0;
    min-height: 336px;
    position: relative;
}

#news .info {
    background-color: rgba(0,0,0, .5);
    padding: 10px 5%;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: .9em;
    font-weight: 300;
}

#news .title{
    text-align: center;
}

#health-news{
    background-image: url('../images/Home/health-1.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}

#auto-news{
    background-image: url('../images/Home/auto-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#home-news{
    background-image: url('../images/Home/home-1.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}

#news .info .more{
    opacity: 0;
    font-size: 0;
    line-height: 0;
    padding-top: 10px; 
}

#news .info:hover .more {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    display:block;
    height: 262px;
    opacity: 1;
    font-size: 1em;
    line-height: 120%;
}

/** BOTTOM QUOTE FOOTER ******************************************/

#bottomQuoteFooter{
    padding-bottom: 35px;
    background-color: #73CBDF; 
    color: white; 
    text-align: center;

}
 #bottomQuoteFooterDesc{
    display:block;
    padding-top: 35px;
    font-size: .9em;
    margin:0;
}
 #bottomQuoteFooterNum{
    display:block;
    color: white;
    font-weight:bolder;
    font-size: 2.2em;
}
#bottomQuoteFooterButton {
    display:inline-block;
    margin-top: 25px;
}

/** FOOTER ******************************************/

footer#botNav1{
    color: black; 
}

footer#botNav1 ul{
    list-style-type: none;
}

footer .container > .row{
    margin: 5% auto 5%;
}

#botNav-1-1-1-1 img{
    display: block; 
    width: 130px;
}

#botNav-1-1-1-2{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#botNav-1-1-1-2 a{
    text-decoration: none;
}

#botNav-1-1-1-3 .os-font{
    text-align: center; 
    margin-bottom: 10px; 
    font-size: 16pt;
}


footer a:link, a:visited {
    color: black;
    font-size: .9em;
}


/** MEDIA QUERIES ******************************************/ 


/* medium screens */
@media only screen and (max-width: 1200px){
    header .navbar .navbar-nav a{
        font-size: .8em;
        width: 95px;
        height: 45px;
    }

}

/* small screens */
@media only screen and (max-width: 992px){
    header .navbar .navbar-nav a{
        font-size: .6em;
        width: 75px;
        height: 45px;
    }
    
    .iconGrowthContainer img{
        width: 80px;
    }
    
    
    #news .info:hover .more {
        height: 238px;
    }
    
    footer ul{
        padding-left: 0;
        padding-top: 10px;
    }
    
     #botNav-1-1-1-1 img{
        width: 240px;
    }

}

/* x-small screens */
@media only screen and (max-width: 767px){
    #topNav-1-social{
        padding-top: 0 px;
        background-color: white;
    }
    
    header .navbar{
        margin-top: 185px;
    }
    
    #main{
        margin-top: 235px;
    }
    
    .iconGrowthContainer img{
        width: 65px;
    }
    
    /*took out footer in mobile view because nav is always accessable*/
    #botNav-1-1-1-2{
        display:none;
    }
    
    #botNav-1-1-1-1 a img{
        display: none;
    }
    
    .baysideInfo{
        text-align: center;
        border-bottom: 1px solid black;
    }
    
}