@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body{
    position:fixed;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.7em;
}

/** HEADER - TOPNAV-1 **/

#topNav-1{
    position: fixed;
    top:0px;
    left: 0px;
    height: 129px;
    width: 100%;
    z-index: 100;
    display:block;
    padding-top: 30px;
    background-image: url('/Images/Header/header-background.jpg');
}

#topNav-1-logo{
    margin-left: 2px; 
    width: 295px; 
    height: 81px;
}

#topNav-1-social{
    padding-top: 30px;
    
}

#topNav-1-social a:hover{
    background-color: transparent;
}

.topNavIcons {
    height: 50px; 
    width: 50px; 
    margin: 0px 3px;
}

/* Facebook Icon */

#topNav-1-social div#fb{
    background-image: url(../images/Header/icons-fb.png);
    background-repeat: no-repeat;
}

#topNav-1-social div#fb:hover{
    background-image: url(../images/Header/icon-facebook-blue.png);
}

/* Twitter Icon */
#topNav-1-social div#tw{
    background-image: url(../images/Header/icons-tw.png);
    background-repeat: no-repeat;
}

#topNav-1-social div#tw:hover{
    background-image: url(../images/Header/icon-twitter-blue.png);
}

/* LinkedIn Icon */
#topNav-1-social div#in{
    background-image: url(../images/Header/icons-in.png);
    background-repeat: no-repeat;
}

#topNav-1-social div#in:hover{
    background-image: url(../images/Header/icon-linkedin-blue.png);
}

/* GooglePlus Icon */
#topNav-1-social div#gg{
    background-image: url(../images/Header/icons-gg.png);
    background-repeat: no-repeat;
}

#topNav-1-social div#gg:hover{
    background-image: url(../images/Header/icon-googleplus-red.png);
}

/* Yelp Icon */
#topNav-1-social div#yp{
    background-image: url(../images/Header/icons-yp.png);
    background-repeat: no-repeat;
}

#topNav-1-social div#yp:hover{
    background-image: url(../images/Header/icon-yelp-red.png);
}

/* Instagram Icon */
#topNav-1-social div#ig{
    background-image: url(../images/Header/icons-ig.png);
    background-repeat: no-repeat;
}

#topNav-1-social div#ig:hover{
    background-image: url(../images/Header/icon-instagram-brown.png);
}

/** HEADER NAV **/

header .navbar{
    margin-top: 129px;
    padding: 0;
}

header .navbar .container-fluid{
    padding: 0;
}

header .navbar .navbar-nav a{
    color: white;
    text-align: center;
    width: 120px;
    height: 45px;
}

/* Nav hover */

header .navbar .navbar-nav .nav-red:hover{
    background-color: #E42A2A;
}

header .navbar .navbar-nav .nav-green:hover{
    background-color: #5EB954;
}

header .navbar .navbar-nav .nav-blue:hover{
    background-color: #4D8FCC;
}

header .navbar .navbar-nav .nav-orange:hover{
    background-color: #E49637;
}

header .navbar .navbar-nav .nav-purple:hover{
    background-color: #964E9C;
}

header .navbar .navbar-nav .nav-gray:hover{
    background-color: #989898;
}




